html, body{
	height: 100%;
	font-size: $baseFontSize;
	overflow-x: hidden;
}

#{$comonElements} {
	box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type=text] {
  -webkit-appearance: none;
}

/*confirm black barrier*/
.black-layer {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 19920219;
}

/* table list */
.table-list {
  width: 100%;
  padding-bottom: pxToRem(92);
  text-align: center;
  table-layout:fixed;

  .list-head {
    width: 100%;
    background-color: #eaeaea;

    .list-head-th {
      width: 100%;
      height: pxToRem(41);
      line-height: pxToRem(41);

      span {
        display: inline-block;
        font-weight: normal;
      }

    }

  }

  .list-body {

    .list-body-tr {
      background-color: white;
      height: pxToRem(41);
      line-height: pxToRem(41);

      &>span {
        display: inline-block;
        font-weight: normal;
      }
    }

    .list-body-tr-event {
      background-color: #f9f9f9;
    }

  }

  .list-foot {

    position: absolute;
    bottom: pxToRem(48);
    width: 100%;

    div {
      height: pxToRem(39);
      line-height: 2.4375rem;
      background-color: #eaeaea;
      border-top: 1px solid #d2d2d2;
      
      &>span {
        float: left;
        display: block;
        padding: 0 2px;
      }

      .btn-del {
        float: left;
        width: pxToRem(100);
        height: pxToRem(31);
        margin: pxToRem(5) 0;
        background-color: #009acb;
        color: white;
        border: 0;
      }
    }
  }
}

/* new/edit pop plane */
.form-pop {

  &>div {
    width: 97%;
    margin: 0 auto;

    span {
      display: inline-block;
      width: 100%;
      padding: 7px;
      border: 1px solid #d4d4d4;
      color: #F44336;
      text-align: initial;
    }
  }


  .footer {

	  
	}
}

.form-pop {
  width: 97%;
  margin: pxToRem(6) auto;

  .form-body {

    tr {
      width: 97%;
      border: 1px solid #d4d4d4;
      text-align: center;
      
      .label-tit, .input-pop {
        height: pxToRem(39);
        border-right: 1px solid #d4d4d4;
      }

      .label-tit {
        width: 35%;
      }

      .input-pop {
        position: relative;
        width: 65%;

        input {
          width: 100%;
          border: 0;
          text-align: center;
        }
      }

      .input-area {
        width: 45%;
      }

      .area_unit {
        position: relative;
        width: 20%;
      }

      .arrow {
        position: absolute;
        top:pxToRem(10);
        right:0;
      }

      .error {
        height: pxToRem(39);
        color: red;
      }

    }
  }

  .footer-r {

      float: left;
      width: 50%;
      height: pxToRem(39);
      box-sizing: border-box;

      &:first-child {
        button {
          border-right: 1px solid #d4d4d4;
        }
      }
      a {
        button {
          width: 100%;
          height: 100%;
          background-color: white;
          border: 0;
        }

        &:active {
          button {
            background-color: #f0f0f0;
          }
        }
      }
      
    }
}


/* paginator outside module */
.paginator-module {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px 0;
    background: white;
    border-top: 1px solid #d2d2d2;
}


/* nprogress */
@import '../../../node_modules/nprogress/nprogress.css';
div#nprogress .bar {
    height: 3px;
    background: #4CAF50;
}